# Data
back/data/**
back/ud

# Models
back/trainedmodels/**

# MacOS
**/.DS_Store

# VS code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
**/.ipynb_checkpoints/

# C extensions
*.so
